@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafcff;
    --button: #4848f9;
    --reply: #aba5ff;
    --save-upload: #dae2ff;
    --upload: #dae2ff;
    --search: #7575ff;
    --mic: #699bf7;
    --album-down-bg: #e0edff;
  }
}

@layer utilities {
  .main-bg {
    background-color: var(--background);
  }
}
